# --- Database Configuration ---
DB_USER=postgres
DB_PASSWORD=jittu007
DB_NAME=exam_seat_allocation

# --- Application Security (COE Credentials) ---
COE_USER=coe1@krce.ac.in
COE_PASS=skm@8115

# --- Environment ---
NODE_ENV=production
SPRING_PROFILES_ACTIVE=prod
